 .blogs {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.add-data {
  margin-top: 20px;
}

h1, h2 {
  color: #333;
  text-align: center;
}

input, textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #ccc;
}

textarea {
  resize: none;
  height: 100px;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
  margin: 5px;
}

button:hover {
  background-color:orangered;
}
.postView{
  padding-top: 20px;
  text-align: center;

}
.postView h2{
  margin-bottom: 10px;
}
.list-view{
  list-style: none;
  padding: 0;

}
.listdisplay{
  border: 1px solid #ccc;
  padding: 10px;
  /* margin-bottom: 10px; */


}
.listdisplay strong{
  font-size: 16px;
  display: block;
  margin-bottom: 10px;
}
